@model IEnumerable<Quiz>

@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">
        <h4>Select a quiz to play</h4>       
    </div>

    <div class="card-body">            
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var quiz in Model)
            {
                <div class="col">
                    <div class="card bg-light">
                        <img src="~/images/@quiz.ImageName" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">@quiz.Name</h5>
                          <p class="card-text">@quiz.Description</p>  
                          <a asp-action="Quiz" asp-route-id="@quiz.Id" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            }
        </div>        
    </div>
</div>
